:root {
  --Primary: #2c2c2c;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #fdf8dd;
  color: var(--Primary);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  /* background: rgba(0, 0, 0, 0.2); */
  height: 85px;
  display: flex;
  padding: 1.4rem 7%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  color: var(--Primary);
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.navbar .navbar-logo span {
  color: #879a88;
}

.navbar .navbar-nav a {
  color: var(--Primary);
  position: relative;
  /* display: inline-block; */
  font-size: 0.9rem;
  margin: 0 0.5rem;
}
/* untuk berubah warna saaat di hover */
.navbar .navbar-nav a:hover {
  color: #879a88;
}
/* untuk memberi animasi underline */
.navbar .navbar-nav a::after {
  content: "";
  position: absolute;
  background-color: #879a88;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.25s;
}

.navbar .navbar-nav a:hover::after {
  width: 100%;
}

.navbar .navbar-extra a {
  color: var(--Primary);
  position: relative;
  font-size: 0.9rem;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #879a88;
}

.navbar .navbar-extra span {
  margin: 0 0.9rem;
}

/* Hero Section =========================================================*/

.main {
  min-height: 100vh;
  background-color: #fdf8dd;
  background-image: url("../Personal_Blog/aset/hero-photo-profile.svg");
  background-size: 180vh;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.main .main-intro {
  position: relative;
  padding-bottom: 8vh;
  padding: 1.5rem 10%;
}

.main .main-quotes {
  position: relative;

  padding: 1.5rem 15%;
}

.main .main-intro h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: var(--Primary);
  font-weight: 300;
  margin-bottom: 50%;
}

.main .main-intro span {
  font-size: 5rem;
  color: var(--Primary);
  font-weight: 600;
}

.main .main-intro a {
  font-size: 2rem;
  color: var(--Primary);
  font-weight: 300;
  padding: 0px 0px;
  width: fit-content;
}

.main .main-quotes h2 {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--Primary);
  font-family: "Poppins", sans-serif;
  margin-top: 70%;
  margin-bottom: 130%;
  text-align: right;
  font-weight: 400;
}

.main .main-quotes p {
  font-size: 1.4rem;
  color: var(--Primary);
  line-height: 1;
  margin-left: 50%;
  font-weight: 300;
}

.main .main-quotes .angka {
  font-size: 3.5rem;
  font-weight: 600;
  float: left;
  line-height: 0.8;
  letter-spacing: 5px;
}

/* Services Section ==============================================================*/

.categories {
  background: #ffffff;
  padding: 10rem 15%;
  min-height: 40vh;
}

.categories h3 {
  line-height: 1.2;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--Primary);
  font-weight: 600;
}

.categories-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 8rem;
}

.categories-right p {
  margin-right: 10rem;
  margin-bottom: 3rem;
  line-height: 2;
}

.categories-right .btn {
  background: #f26440;
  color: #fdf8dd;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.7rem;
  align-items: center;
}

.categories-right .btn:hover {
  box-shadow: 0 0.5rem 1rem rgba(92, 92, 92, 0.3);
  z-index: 1;
  background: #fdf8dd;
  color: #f26440;
}

.categories-left {
  display: grid;
  grid-template-columns: repeat(3);
  gap: 1rem;
}

.category {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
  transition: #879a88;
  border-width: 1.5px;
  border-style: groove;
  border-color: #e9e4c6;
  display: flex;
  align-items: center;
}

.category:hover {
  box-shadow: 0 0.5rem 1rem rgba(92, 92, 92, 0.3);
  background: #fdf8dd;
  z-index: 1;
}

.category:nth-child(2) .category-icon {
  background: #286f6c;
}
.category:nth-child(3) .category-icon {
  background: #eec048;
}
.category:nth-child(1) .category-icon {
  background: #f26440;
}

.category-icon {
  background: #fdf8dd;
  color: #fdf8dd;
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.fa-solid {
  padding: 1rem;
  align-items: center;
}

.category h4 {
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 20px;
  line-height: 1.2;
}

.category span {
  font-size: 0.9rem;
  font-weight: 400;
}

/* Experience Section ==============================================================*/

.timeline {
  padding: 10rem 15%;
  min-height: 40vh;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 70%;
  background: #286f6c;
}

.timeline ul {
  margin-top: 0px;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content{
  padding-bottom: 5rem;
}

.timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  top: 37px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgb(242, 100, 64, 1);
  border-radius: 50%;
  box-shadow:0 0 0 5px rgb(242, 100, 64, 0.3);
  
}

.timeline ul li:nth-child(even):before{
  content: '';
  position: absolute;
  top: 37px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgb(242, 100, 64, 1);
  border-radius: 50%;
  box-shadow:0 0 0 5px rgb(242, 100, 64, 0.3);
  
}

.timeline ul li h5{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--Primary);
}

.timeline ul li h6{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--Primary);
}

.timelineul ul li p{
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li:nth-child(odd) .diskripsi{
  position: absolute;
  top: 12px;
  right: -975px;
  text-align: left;
  margin: 0;
  padding: ;
}



/* .experience {
  padding: 8rem 10%;
  min-height: 80vh;
} */
/* .heading {
  font-size: 3rem;
  font-weight: 600;
} */

/* 
.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__office--right {
  text-align: right;
}

.timeline__middle {
  position: relative;
  background: #286f6c;
} */

/* .timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  width: 16%;
  height: 16%;
  background-color: #000000;
} */

/* .timeline__office h6 {
  font-size: 1.5rem;
  font-weight: 400;
} */

/* .category p {
  padding: 2.5rem 0.8rem 5%;
  font-weight: 700;
  font-size: 1.2rem;
} */

/* .category li {
  margin-bottom: 4px;
  margin-top: 2px;
  font-size: 0.8rem;
  list-style: none;
  text-align: left;
  white-space: pre;
}

.category li:not(:last-child){
  margin-bottom: 4px;
}

.category li::before{
  content: "\27BB";
  color: var(--Primary);
  margin-right: 10px;
} */

/* .index-category-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
}

.categories-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.categories-right {
  margin: 1rem 0 3rem;
} */

/* .hero {
  min-height: 78vh;
  display: flex;
  align-items: center;
  background-color: #fdf8dd;
  background-image: url("/aset/hero-photo-profile.svg");
  background-repeat: no-repeat;
  background-position: center;
} */

/* 
.hero .content {
  padding: 1.4rem 10%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3rem;
  color: var(--Primary);
}

.hero .content span {
  font-size: 5rem;
  color: var(--Primary);
  font-weight: 700;
  line-height: 1.2;
}

.hero .content .row {
  display: flex;
}

.hero .content .row .hallo {
  flex: 0.8 0.8 100rem;
}

.hero .content .row .greetings {
  flex: 0.5 0.5 100rem;
  padding: 0 2rem;
} */

/* Media Queries */

/* ==========================================Laptop/Desktop============================================ */
/* @media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
} */

/* ==============================================Tablet================================================ */
/* @media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  #contact {
    display: none;
  }
} */

/* ==============================================Mobile================================================ */

/* @media (max-width: 600px) {
  html {
    font-size: 50%;
  } */
